In [1]:
import pandas as pd

In [21]:
s1 = pd.Series([10,20,30,40,50,60,70])
print(s1[4:-1])
print(s1)

4    50
5    60
dtype: int64
0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [14]:
s1 = pd.Series([10,20,30,40,50,60,70,80],index = ["a","b","c","d","e","f","g","h"])
print(s1)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

In [7]:
a = pd.Series({"a":12,"b":20,"c":40,"d":77 })
print(a)

a    12
b    20
c    40
d    77
dtype: int64

In [19]:
# basic math operations 
s1 = pd.Series([10,20,30,40,50,60,70,80])
s2 = pd.Series([130,230,330,430,530,630,730,830])
print(s1+s2)
print(s1[3]*s2[1])
print(s1%s2)

0    140
1    250
2    360
3    470
4    580
5    690
6    800
7    910
dtype: int64
9200
0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [3]:
# data frames in pandas
ar = pd.DataFrame({"name":["sam","jaara","jaijai"],"marks":[220,300,400]})
print(ar)

     name  marks
0     sam    220
1   jaara    300
2  jaijai    400

In [6]:
import pandas as pd
ar = pd.DataFrame({"name":["sam","jaara","jaijai","arsk","sai","racky"],"marks":[70,90,49,55,99,100]})
head_of = ar.head()
tail_of = ar.tail()
print(tail_of)
print(head_of)

     name  marks
1   jaara     90
2  jaijai     49
3    arsk     55
4     sai     99
5   racky    100
     name  marks
0     sam     70
1   jaara     90
2  jaijai     49
3    arsk     55
4     sai     99

In [25]:
import pandas as pd
ar = pd.DataFrame({"name":["sam","jaara","jaijai","arsk","sai","racky"],"marks":[70,90,49,55,99,100]})
shape_of = ar.shape
describe_of = ar.describe()
print(describe_of)
print(shape_of)

            marks
count    6.000000
mean    77.166667
std     22.355462
min     49.000000
25%     58.750000
50%     80.000000
75%     96.750000
max    100.000000
(6, 2)

In [10]:
import pandas as pd
ar = pd.DataFrame({"name":["sam","jaara","jaijai","arsk","sai","racky"],"marks":[70,90,49,55,99,100]})
iloc_of = ar.iloc[1:4]
print(iloc_of)
loc_of = ar.loc[0:3,("name","marks")]
print(loc_of)

     name  marks
1   jaara     90
2  jaijai     49
3    arsk     55
     name  marks
0     sam     70
1   jaara     90
2  jaijai     49
3    arsk     55

In [15]:
import pandas as pd
ar = pd.DataFrame({"name":["sam","jaara","jaijai","arsk","sai","racky"],"marks":[70,90,49,55,99,100]})
drop_of = ar.drop("name",axis = 1)
print(ar.mean())
print(ar.median())
print(ar.min())
print(ar.max())
print(drop_of)

marks    77.166667
dtype: float64
marks    80.0
dtype: float64
name     arsk
marks      49
dtype: object
name     sam
marks    100
dtype: object
   marks
0     70
1     90
2     49
3     55
4     99
5    100

In [20]:
import pandas as pd
ar = pd.DataFrame({"name":["sam","jaara","jaijai","arsk","sai","racky"],"marks":[70,90,49,55,99,100]})
def double_make(s):
    return s*2
ar[["marks"]].apply(double_make)
ar["marks"].value_counts()
ar.sort_values(by = "marks")

     name  marks
2  jaijai     49
3    arsk     55
0     sam     70
1   jaara     90
4     sai     99
5   racky    100